requests
aiogram>=2.11.2
aiohttp>=3.7.3
#Pillow>=8.0.0
-f https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp38-cp38-linux_x86_64.whl
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu
-f https://download.pytorch.org/whl/cpu/torchvision-0.8.0%2Bcpu-cp38-cp38-win_amd64.whl
-f https://download.pytorch.org/whl/cpu/torchvision-0.8.0%2Bcpu-cp38-cp38-linux_x86_64.whl
-f https://download.pytorch.org/whl/cpu/torchvision-0.8.2%2Bcpu-cp38-cp38-win_amd64.whl
torchvision>=0.8.0+cpu

